@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  margin: 0 auto;
  font-family: 'Ubuntu', 'Arial', sans-serif;
  background-color: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 40px;
  border-bottom: 1px solid #ff709d;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: start;
  align-items: flex-start;
  box-sizing: border-box;
}

.header__logo {
  height: 80px;
  object-fit: cover;
  display: block;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: -13px;
}

.span {
  color: #ff3776;
}

.header__subtitle {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #ff709d;
}

.content {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  padding: 20px 0 0px;
}

.menu {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: end;
}

.menu__icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  background-color: transparent;
  box-sizing: border-box;
}

.menu__icon_type_add {
  background-image: url(../images/add_icon.svg);
}

.menu__icon_type_user {
  background-image: url(../images/user_icon.svg);
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  opacity: 0.5;
}

.wishlists {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 40px;
}

.wishlist {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background-color: rgba(255, 211, 199, 0.3);
  display: grid;
  grid-template-columns: 67% 30%;
  grid-template-rows: 75% 20%;
  column-gap: 3%;
  row-gap: 5%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.wishlist:last-of-type {
  margin-bottom: 0;
}

.wishlist:hover {
  background-color: rgba(255, 211, 199, 0.6);
}

.wishlist__title {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #ff3776;
}

.wishlist__subtitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: end;
}

.wishlist__icons {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: flex-start;
  padding-top: 5px;
}
.wishlist__icon {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-color: transparent;
  box-sizing: border-box;
}

.wishlist__icon_type_delete {
  background-image: url(../images/delete_icon.svg);
}

.wishlist__icon_type_share {
  background-image: url(../images/share_icon.svg);
}

.wishlist__icon_type_dots {
  background-image: url(../images/dots_icon.svg);
}

.wishlist__deadline {
  justify-self: end;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  align-self: end;
}

.footer {
  width: 90%;
  max-width: 880px;
  margin: 0 auto;
  padding: 20px 0 20px;
  border-top: 1px solid #ff709d;
  box-sizing: border-box;
}

.footer__link {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: baseline;
}

.footer__icon {
  background-image: url(../images/git__icon.svg);
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-color: transparent;
}

.footer__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
}
